/* SuperFly One */
/*Regla que permite elegir mi fuente*/
@font-face {
    /*El nombre que le pongo, puede ser cualquiera*/
    font-family: 'SuperFlyOne';
    /*Ruta desde donde traigo la fuente y el formato para los navegadores*/
    src: url('../fonts/SuperFlyOne.ttf') format('woff');
} /*Para traer fuentes que están descargadas -yo no lo estoy usando-*/

/* BentonSans Medium */
/* TITULOS */
@font-face {
    font-family: "BentonMedium";
    src: url(../fonts/BentonSans-Medium.ttf) format("woff");
}

/* BentonSans Book */
/* SUBTITULOS */
@font-face {
    font-family: "BentonBook";
    src: url(../fonts/BentonSans-Book.ttf) format("woff");
}

/* BentonSans Black */
/* BOTONES */
@font-face {
    font-family: "BentonBlack";
    src: url(../fonts/BentonSans-Black.ttf) format("woff");
}